.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  height: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

#parent{
  position: relative;
  height: auto;
  max-height: 40vh;
  width: 100vw;
  overflow: auto;
}
#search-result {
  width:95%;
  overflow: auto;
  background: #FFFFFF;
  text-align: center;
}
#search-content{
  text-align: center;
}
#year-content{
  text-align: center;
}
#search-div{
  text-align: center;
}
#year-bar{
  text-align: center;
}

.holiday-table{
  width: 100%;
  border: 1px solid black;
}
table {
  border:1px solid black;
  border-collapse: collapse;
}

#Africa{
  background-color: chocolate;
  width: 60%;
}
#Europe{
  background-color:rgba(127, 255, 212, 0.696);
  width: 60%;
}
#Americas{
  background-color:rgba(255, 217, 0, 0.579);
  width: 60%;
}
#Oceania{
  background-color:#61dafbb9;
  width: 60%;
}
#Asia{
  background-color:#f4501ebf;
  width: 60%;
}
body{
  width: 98%;
  margin: 1%;
}